body {
  margin: 0px;
  padding: 0px;
  width: 55%;
  margin: auto;
  font-family: 'Bond4F';
  background: #e6ecf7;
}

.container {
  background: white;
}

@font-face {
  font-family: 'Bond4F';
  src: url('Font/OTF/Bond4F.otf');
  src: url('Font/TTF/Bond4F.ttf');
}

#img1 {
  height: 13vw;
}

#img2 {
  float: right;
  position: relative;
  top:14px;
  right: 40px;
  height: 13vw;
}

.title {
  text-align: center;
  color: #6cbe45;
}

.title1 {
  font-size: 45px;
}

#blue {
  color: #234e8b;
}

#april, #hour {
  font-weight: bold;
  font-size: 30px;
}

#place {
  bottom: 15px;
}

.size {
  font-size: 30px;
}

.size2 {
  font-size: 30px;
}

.description p {
  text-align: right;
  margin-right: 15%;
  width: 85%;
}

.question {
  border: 1px solid #234e8b;
  width: 80%;
  margin: auto;
  background: #234e8b;
}

.question p {
  text-align: right;
  margin-right: 2vw;
  color: white;
  font-family: cursive;
}


.infos {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.infos1, .infos2 {
  height: 350px;
  width: 350px;
}

.infos1 {
  text-align: right;
}

.infos1 p {
  margin-right: 35px;
}

.infos1 img {
  float: right;
}

.infos2 {
  height: 53vh;
  max-height: 35vh;
  width: 21vw;
  margin-right: 73px;
  border-top: 4px solid #6cbe45;
  border-left: 4px solid #6cbe45;
  margin-top: 20px;
  margin-left: 12px;
}

.infos2 p {
  text-align: right;
  margin-right: 4vw;
  position: relative;
  top: 30px;
}

.infosa {
  position: relative;
  left: 45px;
}

.infosb {
  position: relative;
  left: 45px;
}

.adress {
  border: 1px solid #234e8b;
  border-width: 4px;
  width: 20vw;
  margin: auto;
}

.adress h4 {
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 15px;
}

footer img {
  height: 5vw;
}

footer p {
  font-size: 10px;
  float: right;
  margin-right: 8vw;
}

/*Ajoutez les médias queries en dessous*/

@media all and (max-width: 1064px) {
  body {
    width: 100%;
  }
}

@media all and (min-width: 360px) and (max-width: 1064px) {

    .header-img img {
      margin-top: 10px;
    }

   #img1 {
     margin-left: 30px;
     height: 8vh;
   }

   #img2 {
     height: 8vh;
  }


   .infos2 {
     border: 1px solid white;

   }

   .adress {
     width: 100%;
     margin-left: 150px;
     margin-top: 60px;
   }

   footer p {
     position: relative;
     bottom: 26px;
   }

   .infosb {
     width:
   }

   .infosa, .infosb {
     position: relative;
     left: 150px;
   }

   .infos2 p {
     margin-top: 70px;
     position: relative;
     right: 27px;
   }

    footer {
      padding-bottom: 90px;
    }

   footer p, footer img {
     margin-top: 80px;
   }

   footer img {
     margin-left: 20px;
     width: 40vw;
   }

   footer {
     display: flex;
     justify-content: space-between;
     margin-right: -10px;
   }


   @media all and (min-width: 650px) and (max-width: 1063px) {
     

  }
