body {
  margin: 0px;
  padding: 0px;
  width: 55%;
  margin: auto;
  font-family: 'Bond4F';
  background: #e6ecf7;
}

.container {
  background: white;
}

@font-face {
  font-family: 'Bond4F';
  src: url('Font/OTF/Bond4F.otf');
  src: url('Font/TTF/Bond4F.ttf');
}

#img1 {
  height: 13vw;
}

#img2 {
  float: right;
  position: relative;
  top:14px;
  right: 40px;
  height: 13vw;
}

.title {
  text-align: center;
  color: #6cbe45;
}

.title1 {
  font-size: 45px;
}

#blue {
  color: #234e8b;
}

#april, #hour {
  font-weight: bold;
  font-size: 30px;
}

#place {
  bottom: 15px;
}

.size {
  font-size: 30px;
}

.size2 {
  font-size: 30px;
}

.description p {
  text-align: right;
  margin-right: 15%;
  width: 85%;
}

.question {
  border: 1px solid #234e8b;
  width: 80%;
  margin: auto;
  background: #234e8b;
}

.question p {
  text-align: right;
  margin-right: 2vw;
  color: white;
  font-family: cursive;
}


.infos {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.infos1, .infos2 {
  height: 350px;
  width: 350px;
}

.infos1 {
  text-align: right;
}

.infos1 p {
  margin-right: 35px;
}

.infos1 img {
  float: right;
}

.infos2 {
  height: 53vh;
  width: 230px;
  margin-right: 73px;
  border-top: 4px solid #6cbe45;
  border-left: 4px solid #6cbe45;
  margin-top: 20px;
  margin-left: 12px;
}

.infos2 p {
  text-align: right;
  margin-right: 4vw;
  position: relative;
  top: 30px;
}

.infosa {
  position: relative;
  left: 45px;
}

.infosb {
  position: relative;
  left: 45px;
}

.adress {
  border: 1px solid #234e8b;
  border-width: 4px;
}

.adress h4 {
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 15px;
}

footer img {
  height: 5vw;
}

footer p {
  font-size: 10px;
  float: right;
  margin-right: 8vw;
}

/*Ajoutez les médias queries en dessous*/

@media
